body {
    margin: 20px auto;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 302px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
    margin-top: 4px;
    font-size: 16px;
    color:#5f9341;
}

label {
    color:#5f9341;
    font-weight: 900;
    font-size: 18px;
}

button {
    background: #5f9341;
    color: white;
    padding: 10px 20px;
    border: 1px solid #5f9341;
    font-weight: bold;
    font-size: 16px;
}

#delete-btn {
    background: white;
    color: #5f9341;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
}


